.todoList {
  position: absolute;
  z-index: 9;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  text-align: center;
  width: 450px;
  max-width: 450px;
  min-width: 450px;
  @include box-shadow(10px 10px 0px rgba(0, 0, 0, 0.1));
  .item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    &:hover {
      background: #f9f9f9;
      @include box-shadow(0px 5px 0px rgba(0, 0, 0, 0.1));
    }
    &:last-child {
      border-bottom: 0;
    }
    input:checked + p {
      background: #f9f9f9;
      text-decoration: line-through;
    }

    input[type="checkbox"] {
      margin: 20px;
    }
    .choreText {
      margin: 0;
      padding: 20px;
      transition: background 0.2s;
      flex: 5;
      font-size: 20px;
      font-weight: 200;
      border-left: 1px solid #d1e2ff;
      text-align: left;
    }
  }
  .delete {
    margin: 0;
    padding: 20px 30px;
    transition: 0.2s;
    flex: 1;
    font-size: 20px;
    font-weight: 200;
    position: absolute;
    background-color: #f9f9f9;
    right: 0;
    border-left: 1px solid #d1e2ff;
  }
  .hidden {
    display: none;
    transition: ease-in 0.5s;
  }

  .header {
    margin: 0;
    padding: 20px;
    transition: ease-in 0.5s;
    flex: 1;
    font-size: 30px;
    font-weight: 200;
    align-self: center;
    text-transform: uppercase;
    color: #fff;
    &:hover {
      cursor: text;
    }
  }
  span {
    font-size: 2rem;
    opacity: 0.5;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    transition: ease-in 300ms;
    &:hover {
      opacity: 1;
      cursor: move;
    }
  }
  #list1header {
    padding: 10px;
    z-index: 10;
    color: #fff;
    display: flex;
    border-radius: 5px 5px 0px 0px;
    transition: ease-in 0.5s;
    align-items: center;
    justify-content: center;
  }
  .color-select {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
  }
  .color {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    &:hover {
      cursor: pointer;
    }
  }
  .grid {
    display: flex;
    justify-content: space-between;
    background-color: #2196f3;
    border-radius: 5px 5px 0px 0px;
  }
  .addChore {
    text-align: center;
    font-size: 4rem;
    width: 0px;
    height: 0px;
    justify-content: center;
    margin: 0 auto;
    i {
      position: absolute;
      bottom: -79px;
      left: 172px;
      opacity: 0.5;
      padding: 2rem;
      color: #2196f3;
      transition: ease-in 0.5s;

      &:hover {
        opacity: 1;
      }
    }
  }
}
