@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap");
.todoList {
  position: absolute;
  z-index: 9;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  text-align: center;
  width: 450px;
  max-width: 450px;
  min-width: 450px;
  -webkit-box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1);
}
.todoList .item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}
.todoList .item:hover {
  background: #f9f9f9;
  -webkit-box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.todoList .item:last-child {
  border-bottom: 0;
}
.todoList .item input:checked + p {
  background: #f9f9f9;
  text-decoration: line-through;
}
.todoList .item input[type=checkbox] {
  margin: 20px;
}
.todoList .item .choreText {
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  flex: 5;
  font-size: 20px;
  font-weight: 200;
  border-left: 1px solid #d1e2ff;
  text-align: left;
}
.todoList .delete {
  margin: 0;
  padding: 20px 30px;
  transition: 0.2s;
  flex: 1;
  font-size: 20px;
  font-weight: 200;
  position: absolute;
  background-color: #f9f9f9;
  right: 0;
  border-left: 1px solid #d1e2ff;
}
.todoList .hidden {
  display: none;
  transition: ease-in 0.5s;
}
.todoList .header {
  margin: 0;
  padding: 20px;
  transition: ease-in 0.5s;
  flex: 1;
  font-size: 30px;
  font-weight: 200;
  align-self: center;
  text-transform: uppercase;
  color: #fff;
}
.todoList .header:hover {
  cursor: text;
}
.todoList span {
  font-size: 2rem;
  opacity: 0.5;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  transition: ease-in 300ms;
}
.todoList span:hover {
  opacity: 1;
  cursor: move;
}
.todoList #list1header {
  padding: 10px;
  z-index: 10;
  color: #fff;
  display: flex;
  border-radius: 5px 5px 0px 0px;
  transition: ease-in 0.5s;
  align-items: center;
  justify-content: center;
}
.todoList .color-select {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}
.todoList .color {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
}
.todoList .color:hover {
  cursor: pointer;
}
.todoList .grid {
  display: flex;
  justify-content: space-between;
  background-color: #2196f3;
  border-radius: 5px 5px 0px 0px;
}
.todoList .addChore {
  text-align: center;
  font-size: 4rem;
  width: 0px;
  height: 0px;
  justify-content: center;
  margin: 0 auto;
}
.todoList .addChore i {
  position: absolute;
  bottom: -79px;
  left: 172px;
  opacity: 0.5;
  padding: 2rem;
  color: #2196f3;
  transition: ease-in 0.5s;
}
.todoList .addChore i:hover {
  opacity: 1;
}

header {
  height: auto;
  background-color: #2196f3;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}
header h1 {
  font-weight: 300;
  color: white;
  text-align: center;
  margin: 0rem 2rem;
  text-transform: uppercase;
}
header .background-select {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  align-items: center;
}
header .bgcolor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 5px;
  background: blue;
  margin: 2px;
}
header .bgcolor:hover {
  cursor: pointer;
}
header .addList {
  text-align: center;
  font-size: 4rem;
  justify-content: center;
  margin: 0 auto;
}
header .addList i {
  color: #fff;
  transition: ease-in 0.5s;
  margin: 0 2rem;
}

body {
  background-color: #f7f1e3;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
